body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar navbar-fixed-top {
    background-color: rgba(67, 41, 7, 0.5);
    height: 13%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("static/images/fon2.jpeg");
    background-size: cover;
    background-position: center;
}


@font-face {
    font-family: 'MenuFont';
    src: url('static/fonts/SOGNER_SE_Heavy.otf');
}

a {
    font-family: 'MenuFont';
    font-size: 20px;
}

.textBold {
    color: white;
    font-weight: bold;
}


.row {
    color: white;
    text-align: center;
    padding: 110px;
}

.btn {
    background-color: rgba(255, 178, 81, 0.6);
    color: white;
    font-size: 110%;
    padding: 10px 20px;
}

.lead {
    font-size: 1em;
}

.text-dop-left {
    float: right;
    background-color: rgba(147, 88, 13, 0.5);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    height: 50%;
    width: 30%;
    float: left;
}

.text-dop-right {
    float: right;
    background-color: rgba(147, 88, 13, 0.5);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    height: 50%;
    width: 30%;
    float: right;
}

.row {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 5em;
    text-shadow: 2px 2px 0 #000;
}

.line1 {
    display: flex;
    justify-content: center;
}

.line2 {
    background-color: orange;
    height: 2px;
    width: 60%;
}

.assortment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    width: 200px;
    height: 270px;
    border: medium solid lightgray;
    opacity: 0.85;
    flex: 0 0 auto;
}

.ImgEl {
    width: 90%;
}

.menu-row {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.menu {
    
    overflow: hidden;
    height: 585px;
    overflow-y: scroll;
    bottom: 0;
    padding: 20px;
    margin-top: 50px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
}

.TextEl {
    vertical-align: bottom;
}

.menu-item:hover {
    opacity: 1;
}

.menu-row::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(192, 192, 192, 0.3);
}

.menu-row::-webkit-scrollbar {
    height: 6px;
}

.menu-row::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(211, 211, 211, 0.4);
    ;
}

.menu-row:hover::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
    ;
}

.categoryName {
    font-family: 'MenuFont';
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-shadow: rgb(255, 89, 0) 1px 4px 5px;
}