body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}




/*анимация*/
.center {
    position: relative;
}

.heading {
    position: relative;
    animation: slideInLeft 1s forwards;
}

.BigLogo {
    position: relative;
    animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("static/images/fon2.jpeg");
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: 'MenuFont';
    src: url('static/fonts/SOGNER_SE_Heavy.otf');
}

a {
    font-family: 'MenuFont';
    font-size: 20px;
}

.textBold {
    color: white;
    font-weight: bold;
}


.navbar-nav li a {
    color: white
}

.navbar-nav li a:hover {
    background-color:  rgba(147, 88, 13, 0.5);
    color: white;
    border-radius: 10px;
}

.scroll {
    padding: 10px;
    overflow: hidden;
    height: 610px;
    overflow-y: scroll;
    bottom: 0;
    margin-top: 60px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row {
    color: white;
    text-align: center;
    padding: 10px;
}

.btn {
    background-color: rgba(255, 178, 81, 0.6);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgba(255, 178, 81, 0.8);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
}

.lead {
    font-size: 1em;
    padding: 20px;
}

.text-dop-left {
    float: right;
    background-color: rgba(147, 88, 13, 0.5);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    height: 50%;
    width: 30%;
    float: left;
}

.text-dop-right {
    float: right;
    background-color: rgba(147, 88, 13, 0.5);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    height: 50%;
    width: 30%;
    float: right;
}

.row {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 5em;
    text-shadow: 2px 2px 0 #000;
}

.line1 {
    display: flex;
    justify-content: center;
}

.line2 {
    background-color: orange;
    height: 2px;
    width: 60%;
}

.BigLogo {
    margin: 10px;
}

.con-scroll {
    height: 570px;
    overflow-y: auto;
    padding: 7px;
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
    .con-scroll::-webkit-scrollbar-track {
        border-radius: 4px;
        background: rgba(192, 192, 192, 0.3);
    }

    .con-scroll::-webkit-scrollbar {
        width: 6px;
    }

    .con-scroll::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgb(211, 211, 211, 0.4);
    }


/* Подложка для всей страницы */
.contact-page {
    height: 650px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Стили для карты и адреса */
.map-and-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* Стили для карты */
.map-placeholder {
    width: 70%;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
}

/* Стили для адреса */
.address-list {
    color: black;
    width: 29%;
    max-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

    .address-list h2 {
        font-size: 16px;
        font-weight: normal;
        width: 100%;
        text-align: left;
    }

    .address-list p {
        font-size: 12px;
        width: 100%;
        text-align: left;
    }

.bakery-info {
    width: 100%;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.85;
}

    .bakery-info:hover {
        opacity: 1;
    }

/* Стили для навигационных точек */
.navigation-dots {
    width: 80%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

/* Стили для каждой навигационной точки */
.dot {
    height: 70px;
    width: 70px;
    margin: 0px 40px 0px 0px;
    border: none;
    background-color: transparent;
}

.image-hover {
    transition: all 0.5s ease; /* Плавный переход */
}

    .image-hover:hover {
        opacity: 0.5; /* Затемнение картинки при наведении */
    }

.contact-links:hover {
    color: orange;
    opacity: 0.85;
}

.contact-links {
    font-family: 'MenuFont';
    color: white;
    font-size: 25px;
    text-shadow: rgb(255, 89, 0) 1px 4px 5px;
    margin-right: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid orange;
    border-radius: 50%;
    margin: 50px;
    width: 50px;
    height: 50px;
    position: fixed; /* Зафиксированное позиционирование */
    top: 37%; /* Позиционирование от верха страницы */
    left: 37%; /* Позиционирование от левого края страницы */
    animation: spin 2s linear infinite;
    /* Центрирование элемента относительно его координат */
}
.assortment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    width: 200px;
    height: 300px;
    border: medium solid lightgray;
    opacity: 0.85;
    flex: 0 0 auto;
}

.ImgEl {
    width: 90%;
    height: 120px;
}

.TextEl {
    vertical-align: bottom;
    height: 90px;
}

.add-to-cart-btn {
    background-color: white;
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 100px;
    
}
    .add-to-cart-btn:hover {
        background-color: rgba(255, 178, 81, 0.8);
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 10px;
    }


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.menu-row {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.menu {
    
    overflow: hidden;
    height: 650px;
    overflow-y: scroll;
    bottom: 0;
    padding: 20px;
    margin-top: 55px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
}



.menu-item:hover {
    opacity: 1;
}

.menu-row::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(192, 192, 192, 0.3);
}

.menu-row::-webkit-scrollbar {
    height: 6px;
}

.menu-row::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(211, 211, 211, 0.4);
    ;
}

.menu-row:hover::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
    ;
}

.categoryName {
    font-family: 'MenuFont';
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-shadow: rgb(255, 89, 0) 1px 4px 5px;
}


.orders-page {
    display: flex;
}

.order-form {
    background-color: white;
    border-radius: 25px;
    list-style-type: none;
    padding: 20px;
    width: 400px;
    height: 220px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 25px;

}
    .order-form input,
    .order-form textarea {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .order-form button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .order-form button:hover {
            background-color: #0056b3;
        }

.order-history {
    width: 100%;
    border-radius: 25px;
    border:none;
}

#order-history-list {
    list-style-type: none;
    padding: 20px;
    margin-left: 90px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border-radius: 25px;
    max-height: 475px; /* Set a fixed maximum height for the list */
    overflow-y: auto; /* Add scroll functionality for vertical overflow */
}

    #order-history-list li {
        margin-bottom: 20px;
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;
    }

        #order-history-list li strong {
            font-weight: bold;
        }

        #order-history-list li ul {
            margin-top: 10px;
            padding-left: 20px;
        }

            #order-history-list li ul li {
                list-style-type: disc;
            }

#cart-items {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 25px;
    max-height: 200px; 
    overflow-y: auto; /* Add scroll functionality for vertical overflow */
}

    #cart-items li {
        margin-bottom: 5px;
    }

.delete-item {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .delete-item:hover {
        background-color: #d32f2f;
    }
